.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: cadetblue;
}
.DrawedCards {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.Button {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.Spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
